/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --mycyan : rgb(25, 156, 182);
  --mouseover : rgba(0, 0, 0, 0.1);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}


/* Header */
header {
  background-color: var(--mycyan);
  height: 80px;
}

header .add-task:hover {
  background-color: var(--mouseover);
  cursor: pointer;
}


/* Main */
.main-wrapper {
  height: calc(100vh - 80px);
}

/* sidebar */
.sidebar {
  width: 16%;
  min-width: 220px;
}

.categories-list li:hover {
  background-color: var(--mouseover);
  cursor: pointer;
}