/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --mycyan : rgb(25, 156, 182);
  --myred: rgb(192, 44, 44);
  --mouseover : rgba(0, 0, 0, 0.1);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.done {
  text-decoration: line-through;
}

/* .badge {

} */

/* Header */
header {
  background-color: var(--mycyan);
  height: 80px;
}

header .add-task:hover {
  background-color: var(--mouseover);
  cursor: pointer;
}


/* Main */
.main-wrapper {
  height: calc(100vh - 80px);
}

/* sidebar */
.sidebar {
  width: 16%;
  min-width: 220px;
}

.categories-list li:hover {
  background-color: var(--mouseover);
  cursor: pointer;
}

/* main content */
.error-message {
  color : var(--myred);
}

.emoji {
  color : rgb(241, 221, 34);
}

.check {
  background-color: rgb(228, 251, 255);
  border: 2px solid var(--mycyan);
  border-radius: 50%;
  width: 28px;
  height: 28px;
}

.check:hover {
  cursor: pointer;
}

.delete:hover {
  cursor: pointer;
  color : var(--myred);
}